#encabezado{
    background-color: rgb(11, 11, 110);
    color: white;
    padding: 1%;
    text-align: center;
    margin-bottom: 2%;
}
#usuario{
    display: block;
    display: flex;
    align-items: center;
    font-size: 20px;
}
#opciones{
   margin-top: 2%; 
   width: 50%;
   margin-left: 25%;
}
.opcion{
    text-align: center;
    background-color:  rgb(11, 11, 110);
    display: block;
    padding: 2%;
    color:  white;
    margin-top: 2%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    border: 4px solid  rgb(11, 11, 110);;
}
.opcion:hover{
    background-color: white;
    color:  rgb(11, 11, 110);;
}

.table{
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
}